body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #52AD9C;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

h1{
    color : #9876A7;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

h2 {
    margin: 0 0 30px;
    padding: 0;
    color : #9876A7;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

h3{
    margin: 0 0 30px;
    padding: 0;
    color : #9876A7;
    font-size: large;
    font-family: sans-serif;
    text-align: center;
}

.wrap {
    position: absolute;
    height: auto;
    width: auto;
    top: 5%;
    padding: 50px;
    background: #F4F6F5;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.rdv {
    background-color: #52AD9C;
    color: white;
    width: 10%;
    height: 50px;
    border: none; 
    border-radius: 5px;
    padding: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.rdv:hover{
    background-color: #9876A7;
    color: white;
    cursor: pointer;
}