h1 {
    text-align: center;
}

table {
	border-collapse: separate;
	/* avec collapse l'ombre déconne... */
}

caption
	{
	caption-side: bottom;
	font-weight: bold;
	}

td, th {
	border: blue thin solid;
	vertical-align: middle;
	height: 2.4em;

}

/* comme il n'y a qu'un th par tr dans tbody, tbody th suffit */
tbody th:first-of-type {
	vertical-align: top;
}

td {
	min-width: 10em;
	text-align: center;
}

/* dessin des cellules vides */

td:empty, th:empty {
	border-style: none;
}

td:empty {
	border-bottom: black thin dashed;
	border-right: black thin dashed;
	border-left: black thin dashed;
}


td:empty + td:empty {
	border-left-style : none;
}

tbody tr:first-of-type td:empty {
	border-top: black thin dashed;
	border-left-style: none;
}

tbody tr:first-of-type td:empty:first-of-type {
		border-left: black thin dashed;
}

/* dessins des titres non vides */

th:not(:empty) {
	border-radius: 0.5em;
	background-color: rgb(232,232,232);
	border-color: rgb(59,97,142);
	border-style: outset;
	border-width: 2px;
	box-shadow: 1px 1px black;  /* version récente des navigateurs, pas besoin des préfixes */
	color: black;

}



/*******************************************************************/
 /* une partie des propriétés est factorisable dans tbody td:not(:empty) */
tbody tr:nth-child(2) td:not(:empty) {
	/* avec une classe css ou avec un tr:nth-child(2) de tbody */
	border-radius: 0.5em;
	background-color: rgb(128,100,162);
	border-color: rgb(94,73,121);
	border-style: outset;
	border-width: 2px;
	box-shadow: 1px 1px black;
	color: white;

 }
 
 tbody tr:nth-child(5) td:not(:empty) {
	border-radius: 0.5em;
	background-color: rgb(155,187,89);
	border-color: rgb(147,178,84);
	border-style: outset;
	border-width: 2px;
	box-shadow: 1px 1px black;
	color: white;
 }
 
 /* pour ce qui est à BAC +3 ou moins */
  tbody tr:nth-child(n+7) td:not(:empty) {
	border-radius: 0.5em;
	background-color: rgb(79,129,189);
	border-color: rgb(59,97,142);
	border-style: outset;
	border-width: 2px;
	box-shadow: 1px 1px black;
	color: white;
 }
 
 
 
  /* pour *attenuer* la case du ig */
 td.transparent {
 opacity: 0.5;
 }
 
 
 /*****************************************************************/
  /* challenge : faire fusionner parcours Miage et Licence Info */
 /* une possibilité : avec de l'ombre */
 /* autre possibilité : ajouter une "div", et la placer en absolute... ou relative */
 #col_fus {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-style: none;
	box-shadow: 0.5em 0px rgb(79,129,189);
	
 }
 
#col_fus2 {
	border-top-left-radius: 0;
	border-left-style: none;
 }
 